.gradient-navbar {
    background: rgb(0, 255, 0);
    background: radial-gradient(circle, rgba(0, 255, 0, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 0, 0, 1) 100%);
    font-weight: bold;
}

.grid-main {
    margin-top: 5rem;
}

.row {
    margin-top: 5rem;
}

.title {
    margin-top: 5rem;
    color: white;
}

.bg_page_color {
    background: rgb(0, 1, 24);
    background: linear-gradient(180deg, rgba(0, 1, 24, 1) 0%, rgba(0, 43, 88, 1) 100%);
}